
$btz: 100px;
#btn1{
    float: left;
    font-size: $btz;
}
#btn2{
    float: center;
    font-size: $btz;
}
#btn3{
    float: right;
    font-size: $btz;
}
#btn4{
    float: right;
    font-size: $btz;
}
